*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  text-transform: uppercase;
  margin-bottom: 2rem;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    background-image: linear-gradient(to right, rgba(140, 14, 14, 0.982) 60%, #000);
    color: transparent;
    font-size: 4.5rem;
    font-weight: 900;
    letter-spacing: 0.2rem;
    -webkit-background-clip: text;
    background-clip: text;
    animation: animate__flash 5s infinite;
    width: 100%; }
  .heading-primary--sub {
    display: block;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 1rem;
    color: #101110;
    animation: animate__fadeIn 2s infinite;
    text-shadow: 0 2rem 2rem transparent; }
  .heading-primary--desc {
    font-size: 2rem;
    margin-top: -3rem; }

.heading-secondary {
  background-image: linear-gradient(to right, #ffb900, #ff7730);
  display: inline-block;
  font-weight: 700;
  font-size: 4rem;
  text-transform: uppercase;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-bottom: 4rem;
  text-shadow: 0 2rem 2rem #4e2f24; }

.fade--sub1 {
  position: absolute;
  left: 40%;
  top: 35%; }

.sub3 {
  animation: animate__fadeIn 10s 5s infinite; }

@keyframes movetoright {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(30px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes movetoLeft {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-50px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.intro__head {
  text-transform: uppercase;
  color: #e9dfd7;
  background-image: linear-gradient(to right, #c5c5c5 0%, #e9dfd7 50%, #d7e9df);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin: 4rem auto;
  text-shadow: 0 2rem 2rem black;
  line-height: 4.3rem; }
  .intro__head-des {
    display: block;
    font-size: 4rem; }

@keyframes revealLine {
  0% {
    opacity: 0;
    transform: translate(); } }

.container-image {
  height: 100px;
  width: 100px;
  margin: 2rem auto 1rem auto;
  transition: all 0.2s; }

.container-heading {
  font-size: 3rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #ffb900, #ff7730);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 700;
  margin-bottom: 2rem; }

.container-details {
  font-size: 2rem;
  max-width: 80%;
  padding-left: 3rem; }

.container__card {
  height: 500px;
  width: auto;
  box-shadow: 0 2rem 2rem rgba(105, 160, 57, 0.412), -2rem -2rem 2rem rgba(115, 110, 110, 0.492);
  text-align: center;
  position: relative; }

.card-image {
  height: 100%;
  width: 100%;
  z-index: 10; }
  .card-image:hover {
    transform: scale(1.05) translateY(-0.5rem);
    outline: 2px solid rgba(0, 0, 0, 0.5);
    z-index: 20; }
  .card-image:hover ~ .card-image-image:not(:hover) {
    transform: scale(0.9); }

.featuree__box {
  height: 70%;
  width: 80%;
  background-color: black;
  position: absolute;
  top: -63px;
  margin: 0 10%;
  transform: skewY(-2); }

.footer-bg {
  padding: 10rem 4rem;
  background-image: linear-gradient(to right, #070b5fab 0%, #5f070c 50%, #5f5a07); }

h5 {
  font-size: 3rem;
  margin-bottom: 3rem;
  color: white; }

li {
  font-size: 2rem;
  color: black; }

.row {
  width: 100%;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 1rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 1rem; }
  .row .col-1-2 {
    width: calc((100% - 1rem) / 2); }
  .row .col-1-3 {
    width: calc((100% - (2 * 1rem)) / 3); }
  .row .col-1-4 {
    width: calc((100% - 3 *1rem) / 4); }
  .row .col-2-3 {
    width: calc( 2 * ((100% - (2 * 1rem)) / 3) + 1rem); }
  .row .col-2-4 {
    width: calc( 2 * ((100% - 3 *1rem) / 4) + 1rem); }
  .row .col-3-4 {
    width: calc( 3 * ((100% - 3 *1rem) / 4) + 2 *1rem); }

.header {
  height: 100vh;
  width: 100%;
  background-image: url(../../image/headerImage2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  background-size: 100% 100vh;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); }
  .header__text-box {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: none;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  left: 6rem;
  border-radius: 12px;
  z-index: 2000;
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 1rem;
  width: 1rem;
  position: fixed;
  border-radius: 12px;
  top: 9.1rem;
  left: 8.9rem;
  background-image: radial-gradient(#ffb900, #ff7730);
  z-index: 1000;
  transition: transform 0.6s cubic-bezier(0.37, 0, 0.63, 1); }

.navigation__nav {
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  width: 0%;
  opacity: 0;
  transition: 0.5s cubic-bezier(0.84, -0.46, 0.25, 0.64); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__items {
  margin: 0.5rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  padding: 1rem 2rem;
  color: white;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 225%;
  transition: all 0.4s; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  transform: translateX(1rem);
  color: #ff7730; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(580); }

.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::after, .navigation__icon::before {
    width: 3rem;
    height: 2px;
    background-color: gray;
    display: inline-block; }
  .navigation__icon::after, .navigation__icon::before {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  transform: rotate(135deg);
  top: 0; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  transform: rotate(-135deg);
  top: 0; }

.intro {
  height: 60vh;
  background-image: linear-gradient(to right, #070b5fab 0%, #5f070c 50%, #5f5a07);
  margin-top: -17rem;
  text-align: center;
  padding: 15rem 10rem; }

.services {
  height: 100%;
  width: 100%;
  text-align: center;
  transform: skewY(-4deg);
  background-color: white;
  margin-top: -5rem;
  backface-visibility: hidden;
  padding-top: 10rem;
  margin-bottom: 1px; }
  .services > * {
    transform: skewY(4deg); }

.featuree {
  height: 150vh;
  width: 100%;
  text-align: center;
  background-color: white;
  backface-visibility: hidden;
  background-color: gray;
  position: relative; }
