.navigation {
  &__checkbox {
    display: none;
  }
  &__button {
    background-color: none;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    left: 6rem;
    border-radius: 12px;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
  }
  &__background {
    height: 1rem;
    width: 1rem;
    position: fixed;
    border-radius: 12px;
    top: 9.1rem;
    left: 8.9rem;
    // -webkit-background-image: radial-gradient(
    //   $color-primary-light,
    //   $color-primary-dark
    // );
    background-image: radial-gradient(
      $color-secondary-light,
      $color-secondary-dark
    );
    z-index: 1000;
    // transform: scale(80);
    transition: transform 0.6s cubic-bezier(0.37, 0, 0.63, 1);
  }
  &__nav {
    height: 100%;
    // width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    width: 0%;
    opacity: 0;
    transition: 0.5s cubic-bezier(0.84, -0.46, 0.25, 0.64);
  }
  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }
  &__items {
    margin: 0.5rem;
  }
  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      padding: 1rem 2rem;
      color: white;
      font-weight: 300;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        white 50%
      );
      background-size: 225%;
      transition: all 0.4s;
    }
    &:hover,
    &:active {
      background-position: 100%;
      transform: translateX(1rem);
      color: $color-secondary-dark;
    }
  }
  &__checkbox:checked ~ &__background {
    transform: scale(580);
  }
  &__checkbox:checked ~ &__nav {
    width: 100%;
    opacity: 1;
  }

  &__icon {
    position: relative;
    margin-top: 3.5rem;
    &,
    &::after,
    &::before {
      width: 3rem;
      height: 2px;
      background-color: gray;
      display: inline-block;
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }
    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::after {
    transform: rotate(135deg);
    top: 0;
  }

  &__checkbox:checked + &__button &__icon::before {
    transform: rotate(-135deg);
    top: 0;
  }
}
