.footer-bg {
  padding: 10rem 4rem;
  background-image: linear-gradient(
    to right,
    #070b5fab 0%,
    #5f070c 50%,
    #5f5a07
  );
}
h5 {
  font-size: 3rem;
  margin-bottom: 3rem;
  color: white;
}
li {
  font-size: 2rem;
  color: black;
}
