.container {
  &-image {
    height: 100px;
    width: 100px;
    margin: 2rem auto 1rem auto;
    transition: all 0.2s;
  }
  &-heading {
    font-size: 3rem;
    text-transform: uppercase;
    background-image: linear-gradient(
      to right,
      $color-secondary-light,
      $color-secondary-dark
    );
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  &-details {
    font-size: 2rem;
    max-width: 80%;
    padding-left: 3rem;
  }
  &__card {
    height: 500px;
    width: auto;
    box-shadow: 0 2rem 2rem rgba(105, 160, 57, 0.412),
      -2rem -2rem 2rem rgba(115, 110, 110, 0.492);
    text-align: center;
    position: relative;
  }
}

.card-image {
  height: 100%;
  width: 100%;
  z-index: 10;
  &:hover {
    transform: scale(1.05) translateY(-0.5rem);
    outline: 2px solid rgba($color: #000000, $alpha: 0.5);
    z-index: 20;
  }
  .card-image:hover ~ &-image:not(:hover) {
    transform: scale(0.9);
  }
}
