.intro {
  height: 73vh;
  background-image: linear-gradient(to bottom left, #463333, #614a4ad0);
  margin-top: -15rem;
  text-align: center;
  padding: 15rem 10rem;
}
.services {
  height: 100vh;
  width: 100%;
  text-align: center;
  transform: skewY(-4deg);
  background-color: white;
  margin-top: -5rem;
  backface-visibility: hidden;
  padding-top: 10rem;

  & > * {
    transform: skewY(4deg);
  }
}
